header {
  position: fixed;
  width: 100%;
  z-index: 1;
  transition: background-color 0.5s;
}

header .wrap {
  max-width: 96%;
  margin: 0 auto;
  padding: 10px 3.125vw;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  text-indent: -9999px;
  align-items: center;
  display: flex;
  width: 14%;
  height: 33px;
  position: relative;
}

header h1::after {
  content: "";
  /*! display: inline-block; */
  width: 70px;
  height: 70px;
  background-image: url("../img/logo-samhwa.svg");
  /*! float: left; */
  position: absolute;
  left: 90px;
}

header h1 a {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("https://www.samhwa.com/resources/images/common/logo-samhwa-white.svg");
  background-repeat: no-repeat;
  position: relative;
  z-index: 3;
}

header nav {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

header nav>.gnb {
  display: flex;
  align-items: center;
}

header nav>.gnb>.gnb_list {
  line-height: 80px;
}

header nav>.gnb>.gnb_list::after {
  content: "";
  display: block;
  width: 100%;
  height: 80px;
  background: #fff;
  position: absolute;
  left: 0;
  z-index: -1;
  top: -80px;
  opacity: 0;
  border-top: 1px solid #ccc;
}

header nav>.gnb:hover .gnb_list::after {
  display: block;
  top: 89px;
  opacity: 1;
  background: #fff;
}

header nav>.gnb>.gnb_list h2 {
  text-align: center;

}

header nav>.gnb>.gnb_list h2 a {
  padding: 0 1.5rem;
  display: block;
  color: #fff;
  font-size: 18px;
  transition: 0.5s;
  transform: scaleY(0.92);
}

header nav>.gnb>.gnb_list h2 a::after {
  content: "";
  display: block;
  width: 0%;
  height: 4px;
  background: #000;
  margin: 0 auto;
  transition: 0.5s ease-in-out;
  opacity: 0;
}

header nav>.gnb>.gnb_list:hover h2 a::after {
  width: 100%;
  opacity: 1;
}

header nav>.gnb>.gnb_list ul {
  max-width: 1200px;
  margin: 0 auto;
  position: absolute;
  transition: 0.5s;
  transform: translateX(-30%);
  /*! padding: 0 2.5vw; */
}

header nav>.gnb>.gnb_list:first-child ul {
  transform: initial;
}

header nav>.gnb>.gnb_list:hover ul {
  display: block;
}

header nav>.gnb>.gnb_list ul li {
  float: left;
  overflow: hidden;
}

header nav>.gnb>.gnb_list ul li a {
  color: #000;
  display: block;
  font-size: 18px;
  position: relative;
  opacity: 0;
  padding: 0 20px;
  transition: color 0.5s;
}

header nav>.gnb>.gnb_list:hover ul li a {
  animation-name: gnb_a;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes gnb_a {
  0% {
    top: 20px;

  }

  100% {
    top: 0;
    opacity: 1;
  }
}

header nav .enb {
  color: #000;
  display: block;
  /*! padding: 0 10px; */
  font-size: 18px;
}

header nav .enb li {
  display: inline-block;
  vertical-align: middle;
  line-height: 80px;
}

header nav .enb li + li {
  margin-left: 1rem;
}

header nav .enb li select {
  background: transparent;
  border: transparent;
  color: #fff;
  font-size: 16px;
}

header nav .enb li a {
  color: #fff;

  font-size: 15px;
}

header nav .enb li.popup_btn {
  cursor: pointer;
  width: 25px;
  height: 25px;
  position: relative;
  z-index: 3;
}

header nav .enb li .search_sit {
  text-indent: -9999px;
  display: inline-block;
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 50%;
  vertical-align: middle;
}

header nav .enb li .search_btn {
  text-indent: -9999px;
  display: inline-block;
  width: 28px;
  height: 28px;
  background-image: url("../img/search_white.png");
  background-size: 100%;
  vertical-align: middle;
}

.search_popup {
  width: 100%;
}

/* 제이쿼리 */
.fixed-gnb {
  background-color: #fff;
  opacity: 1;
}

.fixed-gnb h1 a {
  background-image: url("../img/logo-samhwa-red.svg");
}

.change a {
  background-image: url("../img/logo-samhwa-red.svg") !important;
}

.fixed-gnb h1::after {
  background-image: url("../img/logo-samhwa-red-bf.svg");
}

.fixed-gnb nav .gnb_list h2 a {
  color: #000 !important;
}

.fixed-gnb nav .gnb_list h2 a {
  color: #000 !important;
}

.fixed-gnb nav .enb li select {
  color: #000 !important;
}

.fixed-gnb nav .enb li .search_btn {
  background-image: url(../img/search_black.png);
}

.fixed-gnb nav .enb li .search_sit {
  background-color: #000 !important;
}

.fixed-gnb nav .enb li a {
  color: #000;
}

.fixed-gnb nav .enb a.ham {
  background-color: #000 !important;
}

.fixed-gnb nav .enb a.ham::before {
  background-color: #000 !important;
}

.fixed-gnb nav .enb a.ham::after {
  background-color: #000 !important;
}