/*    COMMON   */
html {
    font-size: 10px;
}

.common_h2,
.common_h2 span {
    font-size: 40px !important;
}

.inner {
    max-width: 300px !important;
    padding: 50px 0 !important;
    margin: 0 auto !important;
}

.common--p {
    width: 100%;
}

/*    HEADER    */
header h1 {
    margin: 0 auto;
    width: 70px;
    height: 26px;
}

header h1 a {
    background-size: 100%;
}

header nav {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 10px;
    box-sizing: border-box;
}

header nav>.gnb {
    display: none;
}

header .enb {
    width: 100%;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

header .enb li:nth-child(3),
header .enb li:nth-child(4) {
    display: none;

}

header .enb li:nth-child(5) {
    order: 1;
}

header .wrap {
    height: 39px;
}

/*    POPMENU   */
.popmenu .gnb {
    width: 260px;
}

.popmenu .gnb .gnb_list {
    display: unset;
}

.gnb_bg::after {
    display: none;
}

.popmenu .gnb .gnb_list h2 a {
    font-size: 30px;
}

.popmenu .gnb .gnb_list ul {
    padding: unset;
    font-size: 13px;
    line-height: 1.3;
    display: unset;
    display: none;
}

.popmenu .gnb .gnb_list ul li a {
    padding: unset;
    font-size: 13px;
    padding: 10px 0;

}

.popmenu .gnb .gnb_list h2 {
    /*! line-height: 1.5; */
    margin: 20px 0;
}

.popmenu .sns {
    display: none;
}

/*    BODY BG    */
.body_bg li {
    background-size: cover !important;
    background-position: center;
}

/*    SEARCH    */
#search {
    height: unset;
    background: rgba(255, 255, 255, .6);
}

#search h2 {
    font-size: 16px;
    color: #000;
}

#search span a {
    background: #fff;
    color: #333;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 12px;
    border: 1px solid #a5a5a5;
}

#search h3 {
    font-size: 16px;
    color: #000;
}

#search input {
    border: 1px solid #ccc;
    font-size: 18px !important;
    padding-left: 40px !important;
}

.common-input fieldset {
    width: 100%;
    margin-bottom: 20px;
}

.common-input fieldset::before {
    width: 20px;
    height: 20px;
    left: 10px;
}

.common-input input {
    width: 100% !important;
}

.common-input span a {
    font-size: 13px;
}

/*    TITLE    */
#title .inner {
    padding: unset !important;
}

#title .fade a {
    font-size: 14px;
}

#title .fade_list {
    width: 120px;
    margin: 0 auto;
}

#title .fade_list li {
    width: 20px;
    height: 20px;
}

#title .fade_list li::before {
    width: 7px;
    height: 7px;
}

/*    HOTISSUE    */
#hotissue .issue_magazine {
    float: unset;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 190px;
    align-content: space-between;
}

#hotissue .issue_magazine div {
    width: 50%;
}

#hotissue .issue_magazine h3 {
    width: 46%;
    font-size: 15px;
    margin: unset;
    float: right;
}

#hotissue .issue_magazine a.view_pdf {
    margin-top: 102px;
    text-align: right;
}

#hotissue .issue_magazine a.view_magazine {
    margin: unset;
    text-align: right;
}

#hotissue .issue_magazine h3 span {
    display: block;
}

#hotissue .issue_magazine a {
    width: 48%;
}

#hotissue h2 {
    margin-bottom: 20px;
}

#hotissue .issue_list {
    float: unset;
    width: 100%;
}

#hotissue .issue_list ul {
    height: unset;
}

#hotissue .issue_list ul li {
    width: 100%;
}

#hotissue .issue_list ul li:nth-child(2) {
    margin-top: 10px;
}

#hotissue .issue_list ul li:nth-child(odd) {
    display: none;
}

#hotissue .issue_list p {
    font-size: 13px;
}

#hotissue .issue_list figure::before {
    transform: unset;
    position: absolute;
    top: -18px;
    bottom: unset;
    padding-bottom: 0;
    color: #999;
    font-size: 13px;
}

/*    COLOR INSPIRATION    */
#color .color_search {
    float: unset;
    width: 100%;
}

#color .color_search a.ncscolor {
    height: 350px !important;
    background-position: center;
}

#color .color_code {
    float: unset;
    width: 100%;
}

#color .color_code ul {
    height: unset;
    flex-direction: row;
    justify-content: space-around;
}

#color .color_code ul li {
    width: 100%;
}

#color .color_code ul li div {
    height: 100%;
    width: 100%;
    margin: unset;
    border-radius: 50%;
}

#color .color_code ul li p:nth-of-type(1) {
    position: absolute;
    top: 105%;
    margin: unset;
    font-size: 12px !important;
    padding: unset;
    text-align: center;
    color: #fff;
    width: 80px;
    font-weight: 300;
    left: 50%;
    transform: translateX(-50%);
    line-height: 1.3;
}

#color .color_code ul li p:nth-of-type(2) {
    display: none;
}

#color .color_search a.store {
    margin-top: 10px;
}

#color .color_code ul li:nth-child(3) {
    margin: unset;
    margin-bottom: 18px;
}

#color .color_code ul li {
    margin-bottom: 18px;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#color .color_code ul li span {
    display: none;
}

/*    BUSINESS    */
#business h2 {
    margin-bottom: 10px;
}

#business .slide_list {
    width: 100% !important;
}

#business .slide_wrap {
    width: 100% !important;
    height: 335px !important;
    margin-right: unset;
}

#business .slide_wrap:nth-child(2) {
    display: none;
}

#business .business_slide li img {
    top: -20%;
}

#business .business_btn {
    bottom: 0;
    left: unset;
    right: 0;
}

#business .business_btn button {
    width: 40px;
    height: 40px;
    background-size: 60%;
}

#business .business_slide span {
    bottom: 0;
}

#business .count {
    position: absolute;
    top: -45px;
    right: 10px;
    font-size: 12px;
    color: #fff;
}

/*    NEWS    */
#news .inner {
    flex-direction: column;
}

#news .ir {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    height: 91px;
    flex-wrap: wrap;
    align-content: space-between;
    border-bottom: 1px solid #ccc;
}

#news .ir h2 {
    width: 30%;
    height: 100%;
}

#news .ir h3 {
    margin: unset;
    width: 51%;
    text-align: right;
}

#news .ir p {
    width: 51%;
    text-align: right;
}

#news .news {
    width: 100%;
}

/*    SEARCH    */
.search {
    display: none;
}

/*    ASIDE    */
aside.facebook {
    display: none;
}

/*    FOOTER    */
footer {
    background: #b9b9b9;
}

footer .wrap {
    flex-direction: column;
    max-width: 300px !important;
    margin: 0 auto;
}

.sns {
    width: 100%;
}

footer .address {
    width: 100%;
    order: 2;
}

footer .address .add_wrap {
    margin-top: 20px;
}

footer .address .add_wrap .copyright {
    font-size: 12px;
    margin-top: 23px;
}

footer h4 {
    width: 100%;
    order: 1;
    font-size: 13px;
    margin-bottom: 25px;
    text-align: left;
}

footer h4 span {
    font-size: 24px;
    font-weight: 600;
}

footer .family {
    width: 100%;
    order: 3;
}

footer .family div {
    width: 100%;
    margin: 34px auto;
    float: unset;
}