html {
    background: #eee;
}
#search_popup .inner {
    max-width: 340px;
}
#search_popup fieldset {
    /* margin-bottom: 20px; */
}
#search_popup fieldset input[type="text"] {
    font-size: 16px;
    box-shadow: 0 2px 18px rgba(0,0,0,.2);
    font-weight: 400;
}
#search_popup fieldset input[type="button"] {
    background-size: 50%;
}
#search_popup .search_word {
    display: block;
}
#search_popup .search_word h3 {
    margin-bottom: 10px;
}
#search_popup .search_word a {
    font-size: 13px;
    border: 1px solid #ccc;
    padding: 6px;
    border-radius: 3px;
    margin-right: 3px;
    display: inline-block;
    background: #fff;
}
#search_popup .painting-guide {
    display: none;
}
#search_popup .product {
    width: 100%;  
}
#search_popup .product div {
    overflow-x: scroll;
}
#search_popup .product ul {
    width: calc(150px * 7 + 50px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#search_popup .product ul li {
    width: 150px;
    height: 150px;
    display: block;
    background-size: 100%;
    position: relative;
    background-position-y:40%;
}
#search_popup .product ul li:nth-child(1){
    background-image: url("../img/business_bg01.jpg");
}
#search_popup .product ul li:nth-child(2){
    background-image: url("../img/business_bg02.jpg");
}
#search_popup .product ul li:nth-child(3){
    background-image: url("../img/business_bg03.jpg");
}
#search_popup .product ul li:nth-child(4){
    background-image: url("../img/business_bg04.jpg");
    background-position-y: bottom;
}
#search_popup .product ul li:nth-child(5){
    background-image: url("../img/business_bg05.jpg");
}
#search_popup .product ul li:nth-child(6){
    background-image: url("../img/business_bg06.jpg");
}
#search_popup .product ul li:nth-child(7){
    background-image: url("../img/business_bg07.jpg");
    background-position-y: bottom;
}
#search_popup .product ul li:nth-child(8){
    background-image: url("../img/business_bg08.jpg");
}
#search_popup .product ul li:nth-child(9){
    background-image: url("../img/business_bg09.jpg");
}
#search_popup .product ul li:nth-child(10){
    background-image: url("../img/business_bg10.jpg");
}
#search_popup .product ul li:nth-child(11){
    background-image: url("../img/business_bg11.jpg");
}
#search_popup .product ul li:nth-child(12){
    background-image: url("../img/business_bg12.jpg");
}
#search_popup .product ul li:nth-child(13){
    background-image: url("../img/business_bg13.jpg");
    background-position-y: 30%;
}
#search_popup .product ul li:nth-child(14){
    background-image: url("../img/business_bg14.jpg");
}


#search_popup .product ul li a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 80% 15px 0;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    color: #fff;
    font-weight: 500;
}
#search_popup .product ul li a::after{
    content: "";
    display: block;
    width: 100%;
    height: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}
#search_popup .product ul li:nth-child(1) a::after{
    background-color: #229cbb;
}
#search_popup .product ul li:nth-child(2) a::after{
    background-color: #978574
}
#search_popup .product ul li:nth-child(3) a::after{
    background-color: #0068b8;
}
#search_popup .product ul li:nth-child(4) a::after{
    background-color: #af7836;
}
#search_popup .product ul li:nth-child(5) a::after{
    background-color: #e7a21e;
}
#search_popup .product ul li:nth-child(6) a::after{
    background-color: #312d5f;
}
#search_popup .product ul li:nth-child(7) a::after{
    background-color: #c3405a;
}
#search_popup .product ul li:nth-child(8) a::after{
    background-color: #b11412;
}
#search_popup .product ul li:nth-child(9) a::after{
    background-color: #63736f;
}
#search_popup .product ul li:nth-child(10) a::after{
    background-color: #444444;
}
#search_popup .product ul li:nth-child(11) a::after{
    background-color: #4981b9;
}
#search_popup .product ul li:nth-child(12) a::after{
    background-color: #587a4d;
}
#search_popup .product ul li:nth-child(13) a::after{
    background-color: #4e5659;
}
#search_popup .product ul li:nth-child(14) a::after{
    background-color: #95531f;
}
#search_popup .product ul li a::before {
    display: none;
}